<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Add New Song</title>
</head>
<body>
    <div class="container">
        <h1>Add New Song to Your Greatest Hits!</h1>
        <!-- BACK TO PROFILE BUTTON -->
        <button onclick="location.href='/lobby/<%= member.id %>'" class="button-nav">Back to Profile</button>
        <!-- form for new member data -->
        <!-- <form action="/lobby/<%= member.id %>/song?_method=PUT" method="POST"> -->
        <form action="/lobby/<%= member.id %>" method="POST" class="form-page">
            <!-- artist text input -->
            <div>
                <!-- <label for="artist">Artist:</label> -->
                <input type="text" name="artist" placeholder="Artist">
            </div>
            <!-- title text input -->
            <div>
                <!-- <label for="title">Title:</label> -->
                <input type="text" name="title" placeholder="Title">
            </div>
            <!-- genre text input -->
            <div>
                <!-- <label for="genre">Genre:</label> -->
                <input type="text" name="genre" placeholder="Genre">
            </div>
            <!-- songId text input -->
            <div>
                <!-- <label for="songId">Song ID:</label> -->
                <input type="text" name="songId" placeholder="Song ID">
            </div>
            <!-- form submit button -->
            <input type="submit" value ="SUBMIT" class="button-submit">
        </form>
    </div>
</body>
</html>