<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css"> 
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add New Member to Your Clubhouse</h1>
        <!-- BACK TO LOBBY BUTTON -->
        <button onclick="location.href='/lobby'">Back to Lobby</button>
        <!-- form for new member data -->
        <form action="/lobby" method="POST" class="form-page">
            <!-- name text input -->
            <div>
                <!-- <label for="name">Name:</label> -->
                <input type="text" name="name" placeholder="Name">
            </div>
            <!-- nickname text input -->
            <div>
                <!-- <label for="nickname">Nickname:</label> -->
                <input type="text" name="nickname" placeholder="Nickname">
            </div>
            <!-- img link text input -->
            <div>
                <!-- <label for="img">Image URL:</label> -->
                <input type="text" name="img" placeholder="Image URL">
            </div>
            <!-- city text input -->
            <div>
                <!-- <label for="city">City, State:</label> -->
                <input type="text" name="city" placeholder="City">
            </div>
            <!-- favorite genre text input -->
            <div>
                <!-- <label for="faveGenre">Favorite Genre:</label> -->
                <input type="text" name="faveGenre" placeholder="Favorite Genre">
            </div>
            <!-- drink order text input -->
            <div>
                <!-- <label for="drinkOrder">Drink Order:</label> -->
                <input type="text" name="drinkOrder" placeholder="Drink Order">
            </div>
            <!-- form submit button -->
            <div>
                <input type="submit" value ="SUBMIT" class="button-submit">
            </div>
        </form>
    </div>
</body>
</html>