body {
    background-color: dodgerblue;
}

th, td {
    padding: 5px;
    border: 1px solid black;
}

.form-page {
    background-color: antiquewhite;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;

}

label {
    display: block;
    color: #696969;
    font-size: 10pt;
    margin: 10px 0 0 5px;
}

input[type=text] {
    width: 200px;
    height: 20px;
    padding: 10px;
    margin: 5px 0;
    border: 0;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: white;
}

.button-submit {
    /* border-radius: 10px; */
    margin: 10px 0 0 0;
    padding: 3px 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-nav {
    margin: 10px 0;

}